*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

html,body{
    width: 80%;
    height: 100%;
}

.heading{
    font-size: 2rem;
    font-family: var(--font-f);
    background-color: white;
}

:root{
    --backgroundc-color : rgb(216, 212, 212);
    --section-color : aqua;
    --padding : 10px 30px;
    --padding-btn : 10px 12px;
    --font-f : monospace,sans-serif;
    --border-r : 10px;
}

main{
    height: 90%;
    width: 100%;
    background-color: var(--section-color);
}

/* main section */
section{
    height: 15%;
    width: 91%;
    background-color: var(--section-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section input{
    padding: var(--padding);
    font-size: 1rem;
    font-family: var(--font-f);
    letter-spacing: 1px;
    border-radius: var(--border-r);
}

section #btn{
    padding: 10px 30px;
    font-family: var(--font-f);
    background-color: rgb(234, 105, 59);
    color: white;
    letter-spacing: 3px;
    font-size: 1rem;
    font-weight: 300;
    border-radius: var(--border-r);
    cursor: pointer;
}

/*section */

#dynamic-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-block: 10px;
}

.item span{
    font-size: 1.1rem;
    color: rgb(32, 31, 31);
    font-weight: bold;
    font-family: var(--font-f);
}

.item button{
    letter-spacing: 3px;
    border-radius: 10px;
    color: white;
    background-color: brown;
    padding: var(--padding-btn);
}

#total{
    margin-right: 10px;
    float: right;
    font-size: 2.2rem;
    font-family: var(--font-f);
}
